.maxContainer{
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: white;
}

.insideContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    background-color: white;
}