.maxContainer{
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: white;
}

.insideContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    background-color: white;
}

.topBar{
    display: flex;
    padding-left: 30px;
    align-items: center;
    border-bottom: 1px solid #66666e;
    width: 100%;
}

.itemsSection{
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-content: left;
    
}

.itemsList{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    border: 5px solid black;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 15px;
    background-color: #f3f5f8;
    overflow-y: auto;
    height: 550px;
}

.formSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 15px;
    background-color: #f3f5f8;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0 0 2px #66666e;
}